@model Restaurant

<section>
    <h1>@Model.Name</h1>
    <div>
        <p> FoodType: @Model.Type </p>
    </div>
    <div>
        <a asp-controller="Home" asp-action="Details" asp-route-id="@Model.Id">Details</a>
    </div>
</section>