@model Restaurant

<div class="container">
    <h4>@Model.Name</h4>
    <div>
        <p> FoodType: @Model.Type </p>
    </div>
    <div>
        <a asp-controller="Home" asp-action="Details" asp-route-id="@Model.Id">Details</a>
    </div>
</div>