@model RestaurantEditViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form asp-controller="Home" asp-action="Create" method="post">
    <div>
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="Type">Type:</label>
        <select asp-for="Type" asp-items="Html.GetEnumSelectList<FoodType>()"></select>
        <span asp-validation-for="Type"></span>
    </div>


    <div>
        <input type="submit" value="Save" />
    </div>
</form>
