@model WebApplication3.ViewModels.HomePageViewModel

@{ 
    ViewBag.Title = "Home";
}
<div>
    <h2>Welcome punks!</h2>
</div>
    <ol>
        @foreach (var r in Model.Restaurants)
        {
            <li><a asp-controller="Home" asp-action="Details" asp-route-id="@r.Id">@r.Name</a></li>
        }
    </ol>

@section footer{
    <div>@Model.Greeting</div>
}