@model WebApplication3.ViewModels.HomePageViewModel

@{ 
    ViewBag.Title = "Home";
}
<div>
    <h2>Welcome punks!</h2>
</div>

        @foreach (var r in Model.Restaurants)
        {
            @Html.Partial("_Summary", r);

        }


@section footer{
    <div>@Model.Greeting</div>
}